# DO NOT COMMIT THIS FILE
[sources.dog_api]
api_key = "your-dog-api-key-here"

[destination.bigquery.credentials]
project_id = "dog-breed-explorer-am"
private_key = "PASTE_FROM_CREDENTIALS_JSON"
client_email = "dog-pipeline-sa@dog-breed-explorer-am.iam.gserviceaccount.com"
